.MoeNotification-notice{
    position: relative;
    width: auto;
    margin: 3px 5px 3px 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px #aaa;
    font-size: 14px !important;
    display: none;
}
.MoeNotification-notice span{
    text-align: left;
    position: relative;
    margin: 3px auto 3px 3px;
    color: white;
    font-family: '微软雅黑';
    font-size: 14px !important;
    line-height: 1.5 !important;
}
.MoeNotification-notice-success{
	border-left: 5px #8DDA93 solid;
    background-color: #008A00;
}
.MoeNotification-notice-warning{
	border-left: 5px #FFDF00 solid;
    background-color: #E29724;
}
.MoeNotification-notice-error{
	border-left: 5px #E71717 solid;
    background-color: #B00E06;
}
#MoeNotification{
    position: absolute;
    width: 30%;
    left: 0px;
    bottom: 30px;
}